[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
faker = "*"
colorama = "*"
sqlparse = "*"

[packages]
flask = "==1.1.4"
gunicorn = "*"
pyjwt = "*"
psycopg2 = "*"
validate-email = "*"
boto3 = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
requests = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
flask-restx = "==0.3.0"
structlog = "*"
cryptography = "*"
marshmallow = "*"
email-validator = "*"

[requires]
python_version = "3.8"
