[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
faker = "*"

[packages]
flask = "*"
gunicorn = "*"
pyjwt = "*"
psycopg2 = "*"
validate-email = "*"
boto3 = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-profiler = "*"
werkzeug = "*"
requests = "*"
flask-restplus = "*"
aws-xray-sdk = "*"

[requires]
python_version = "3.7"
